* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  background: #23252c;
}

header {
  padding-bottom: 0;
  margin-bottom: 0;
  margin-top: 2em;
}

span {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.container {
  width: 90%;
  max-width: 19rem;
  margin: 0 auto;
  background: #1a1b21;
}

.header--img {
  width: 100%;
  border-radius: 0.4rem 0.4rem 0 0;
}

.section1,
.section2,
.section3 {
  width: 15.43rem;
  margin: 0 auto;
}

.section1 {
  text-align: center;
  padding-top: 1em;
}

.section3 {
  padding-bottom: 2em;
}

.sec1--h1 {
  color: #fff;
  font-size: 1.9rem;
  font-weight: 400;
}

.sec1--h3 {
  color: #f3bf99;
  font-weight: 300;
  line-height: 0.8rem;
  letter-spacing: 1px;
}

.sec1--p {
  color: #f5f5f5;
  font-weight: 300;
  padding: 1em 0;
  text-decoration: none;
}

.sec1--p:hover,
.sec1--p:focus {
  text-decoration: underline;
}

.btn--wraper {
  display: flex;
  gap: 1em;
  justify-content: space-between;
  padding: 0.6em 0;
}

.btn {
  font-size: 0.9rem;
  font-weight: 400;
  padding: 0.6em 0;
  border-radius: 0.3rem;
  border: none;
  display: flex;
  justify-content: center;
  flex: 1 1 0;
}

.btn:hover {
  background: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.btn--linkedin {
  background: #5093e2;
  color: #fff;
}

.btn--linkedin:hover {
  background: rgba(79, 148, 227, 0.8);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.sec2--p,
.sec3--p {
  color: #dcdcdc;
}

.sec2--h2,
.sec3--h2 {
  font-weight: 400;
  padding-top: 1em;
  color: #f5f5f5;
}

.sec2--p,
.sec3--p {
  font-weight: 300;
  line-height: 1.3rem;
}

.envel,
.linkd {
  transform: scale(1);
}

.envel {
  color: #1e1f26;
}

.footer {
  background: #161619;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1.5em 0;
  border-radius: 0 0 0.4rem 0.4rem;
}

.footer--icon {
  transform: scale(2);
  color: #918e9b;
}

.footer--a {
  padding-top: 0.2em;
}
